.header {
  width: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;


}

.titleMe {
  color: $white;
  padding: 10px 0px 10px 10px;
}

.bannerHere {
  background-size: contain;
  background-image: url("../img/head.jpg");
  background-image: url("../css/img/head.jpg");
  background-image: url("/design/noski/css/img/head.jpg");
  width: 100%;
  max-width: 900px;
  height: 200px;
  margin: auto;

}
#path a,
.sort{
  color: $white;

  .selected {
    color: $white;
  }
}