#search{
  margin-top: 9px;
  margin-bottom: 10px;
  height: 28px;

  .input_search{
    width: 100%;
    max-width: 170px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #b0b0b0;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    //float: left;
  }

  .button_search {
    width: 32px;
    height: 30px;

    background: $white;
    content: 'F';
    border-style: none;
    cursor: pointer;

    display: inline-block;
    vertical-align: top;

    //float: left;
  }
}
